services:
    postgres:
        image: postgres:15
        environment:
            POSTGRES_DB: justfeed
            POSTGRES_USER: justfeed_user
            POSTGRES_PASSWORD: justfeed_pass
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data
        networks:
            - labnet
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U justfeed_user -d justfeed"]
            interval: 5s
            timeout: 5s
            retries: 5

    localhost:
        image: ghcr.io/nathan-f04/loginservicejustfeed/service_a:latest
        command: uvicorn login_service.login:app --host 0.0.0.0 --port 8000
        environment:
            DATABASE_URL: "postgresql://justfeed_user:justfeed_pass@postgres:5432/justfeed"
        ports:
            - "8001:8000"
        depends_on:
            postgres:
                condition: service_healthy
        restart: on-failure
        networks:
            labnet:
                aliases:
                    - localhost

    service_b:
        image: ghcr.io/nathan-f04/bankingservicejustfeed/service_b:latest
        command: uvicorn banking_service.banking:app --host 0.0.0.0 --port 8000
        env_file: ./.env
        depends_on:
            localhost:
                condition: service_started
            postgres:
                condition: service_healthy
        restart: on-failure
        environment:
            DATABASE_URL: "postgresql://justfeed_user:justfeed_pass@postgres:5432/justfeed"
        ports:
            - "8002:8000"
        networks:
            - labnet

    service_c:
        image: ghcr.io/nathan-f04/notificationservicejustfeed/service_c:latest
        command: uvicorn notification_service.notification:app --host 0.0.0.0 --port 8000
        ports:
            - "8003:8000"
        networks:
            - labnet

    service_d:
        image: ghcr.io/nathan-f04/orderservicejustfeed/service_d:latest
        command: uvicorn order_service.orders:app --host 0.0.0.0 --port 8000
        env_file: ./.env
        depends_on:
            localhost:
                condition: service_started
            postgres:
                condition: service_healthy
        restart: on-failure
        environment:
            DATABASE_URL: "postgresql://justfeed_user:justfeed_pass@postgres:5432/justfeed"
        ports:
            - "8004:8000"
        networks:
            - labnet

    service_e:
        image: ghcr.io/nathan-f04/frontendjustfeed/service_e:latest
        ports:
            - "3000:3000"
        depends_on:
            - localhost
            - service_b
            - service_c
            - service_d
        networks:
            - labnet

networks:
    labnet:

volumes:
    postgres_data: